<!DOCTYPE html>
<html>
<head>
	<title>个人中心-文章页</title>
	<meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__PC__/css/layui.css"  media="all">
  <link rel="stylesheet" href="__PC__/css/base.css"  media="all">
  <link rel="stylesheet" href="__PC__/css/index.css"  media="all">
  <script src="__PC__/jquery-1.9.1.min.js" charset="utf-8"></script>
<script src="__PC__/layui.js" charset="utf-8"></script>
  <link rel="stylesheet" href="__PC__/css/bootstrap.css"  media="all">
  <script type="text/javascript" src="/public/common/bootstrap.js"></script>


  	<link rel="stylesheet" type="text/css" href="/public/index/css/common/base.css">
	<link rel="stylesheet" type="text/css" href="/public/index/css/common/common.css">
	<link rel="stylesheet" type="text/css" href="/public/index/css/common/foot.css">
	<link rel="stylesheet" type="text/css" href="/public/index/css/common/header.css">
	<link rel="stylesheet" type="text/css" href="/public/index/css/page/personal_center.css">

</head>
<body>

	<header class="interlocution">
		<div class="w1200 head_cont">
			<img src="/public/index/img/logo.png">
			<div class="us_info">
				<span class="file_point"><img alt="" src="/public/index/img/message.png" height="100%"></span>
				<span class="hd_pic">
					<img alt="" src="{{$userone.userhead}}">
					<ul class="itme_li">
						<li><a href="{{:url('my/index')}}">个人资料</a></li>
						<li><a href="{{:url('account/index')}}">个人中心</a></li>
						<li id="logout"><a href="#">退出登录</a></li>
					</ul>

				</span>

				<span class="file_up"><a href="{{:url('my/pub')}}">上传作品</a></span>

			</div>
			<ul class="hd_nav">
				<li>
					<a href="{{:url('forum/interlocution')}}">
						<h2>问答</h2>
						<p>interlocution</p>
					</a>
				</li>
				<li>
					<a href="{{:url('account/lists')}}">
						<h2>文章</h2>
						<p>article</p>
					</a>
				</li>
				<li>
					<a href="{{:url('forum/index')}}">
						<h2>社区</h2>
						<p>community</p>
					</a>
				</li>
				<li>
					<a href="{{:url('index/index')}}">
						<h2>首页</h2>
						<p>INDEX</p>
					</a>
				</li>
			</ul>
			
		</div>
	</header>





<empty name="msg">
<div class="userinfo">
	
		<section class="person_info">
		<div class="p_banner"></div>
		<div class="userinfo_1 w1200 clear">
				<!-- <a style="width:30px;">
					<img src="__PC__/images/msg.png" width="18"/>
				</a>
				<a style="width: 78px;">私信</a>
				<a  style="width: 78px;background-color:#ffbc22;color:#fff;border:1px solid #ffbc22;">+关注</a> -->
		<!-- <div class="userinfo_1_top"><img src="{{$userone.userhead}}"></div> -->
		
	</div>

	<div class="userinfo_1_right fr">
		
		</div>
		<div class="p_i_cont">
			<div class="hd_pic">
				<img alt="" src="{{$userone.userhead}}" />
			</div>
			<h2>{{$userone.username}}</h2>
			<div class="p_work">
				<foreach name='uarr' item="vo" key="k">
				<span class="p_w_1">{{$vo}}</span>
				</foreach>
				
			</div>
			<ul class="p_base_li clearfix">
				<li>
					<span class="tit">发布数</span>
					<span>{{$total}}</span>
				</li>
				<li>
					<span class="tit">粉丝</span>
					<span>{{$userc}}</span>
				</li>
				<li>
					<span class="tit" id="p_c_gz">关注</span>
					<span >{{$cuser}}</span>
				</li>
				<li>
					<span class="u_icon"></span>
					<span>{{$userone.zhiwei}}</span>
				</li>
				<li>
					<span class="address_icon"></span>
					<span>{{$uaddr}}</span>
				</li>
			</ul>
			<div class="nav_list">
				<ul class="clearfix">
					<empty name="Think.session.userid">
					<li ><a href="{{:url('account/index')}}?uid={{$Think.get.uid}}"<eq name='type' value='index'>class="useron"</eq>>作品</a></li>
					<li><a href="{{:url('account/content')}}?uid={{$Think.get.uid}}"<eq name='type' value='content'>class="useron"</eq>>文章</a></li>
					<li><a href="{{:url('account/love')}}?uid={{$Think.get.uid}}"<eq name='type' value='love'>class="useron"</eq>>喜欢</a></li>
					<li><a href="{{:url('account/loc')}}?uid={{$Think.get.uid}}" <eq name='type' value='loc'>class="useron"</eq>>圈子</a></li>
					<li><a href="{{:url('account/info')}}" <eq name='type' value='info'>class="useron"</eq>>简介</a></li>
					<li><a href="{{:url('account/related')}}?uid={{$Think.get.uid}}"<eq name='type' value='related'>class="useron"</eq>>与我相关</a></li>
					<else/>
					<li><a href="{{:url('account/index')}}"<eq name='type' value='index'>class="useron"</eq>>作品</a></li>
					<li><a href="{{:url('account/content')}}"<eq name='type' value='content'>class="useron"</eq>>文章</a></li>
					<li><a href="{{:url('account/love')}}"<eq name='type' value='love'>class="useron"</eq>>喜欢</a></li>
					<li><a href="{{:url('account/loc')}}" <eq name='type' value='loc'>class="useron"</eq>>圈子</a></li>
					<li><a href="{{:url('account/info')}}" <eq name='type' value='info'>class="useron"</eq>>简介</a></li>
					<li><a href="{{:url('account/related')}}" <eq name='type' value='related'>class="useron"</eq>>与我相关</a></li>
				</empty>

				</ul>
			</div>
		</div>
	</section>

	</div>
	
</div>
<div class="user_con">
	<block name="usercontent"></block>
</div>
<else/>
<div class="user_msg">
	<block name="usercontent"></block>
</div>
</empty>

<footer>
		<div class="w1200 fot_cont">
			<img src="/public/index/img/logo.png" alt="" class="fot_video">
			<ul class="fot_nav">
				<li><a href="javascript:;">首页</a>|<a href="javascript:;">制作人</a>|<a href="javascript:;">制片人</a>|<a href="javascript:;">制作公司</a>
				</li>
			</ul>
			
		</div>
</footer>






<!--关注粉丝弹框-->
	<div class="p_c_layer"></div>
	<section class="p_c_model">
		<div class="p_c_head">
			<p><span class="active" id="fensi">{{$userc}}个粉丝</span>|<span id="guanzhu">关注了{{$cuser}}个人</span></p>
			<a href="javascript:;"><span class="etc_close"></span></a>
		</div>

		<div class="Fans_cont">
			<ul>
			<foreach name="guanzhu" item="v">
				<li>
					<div class="fans_info">
						<div class="head_port"><img alt="" src="{{$v.userhead}}"></div>
						<p class="name">{{$v.username}}</p>
						<p class="fans_num">粉丝:{{$v.fcount}}<span>|</span>关注:{{$v.gcount}}</p>
						<p class="work">
							<foreach name="v.tech" item="val" key="k">
								<if condition="$k gt 0">|</if><span>{{$val}}</span>
							</foreach>
						</p>
						<a href="javascript:;" class="fllow"  data-user="{{$Think.session.userid}}" data-userd="{{$v.usered}}">已关注</a>
					</div>
				</li>
			</foreach>
			</ul>
			<div class="get_more">
				<a href="javascript:;">加载更多>></a>
			</div>
		</div>
	</section>

	<script type="text/javascript" src="/public/index/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript">
		$(function(){
			var hei = $(".p_c_model").height();
			$(".Fans_cont").css("height",hei-80+"px");

			/*切换 粉丝、关注*/
			$(".p_c_model .p_c_head p").on("click","span",function(){
				$(this).siblings("span").removeClass("active");
				$(this).addClass("active");
			});
			show_hide();
			function show_hide(){
				/*显示弹框*/
				$("#p_c_gz").click(function(){
					$(".p_c_layer").css("display","block");
					$(".p_c_model").css("display","block");
				});
				/*关闭 弹框*/
				$(".p_c_model .p_c_head .etc_close").on("click",function(){
					$(".p_c_layer").css("display","none");
					$(".p_c_model").css("display","none");
				});
			}

			$('.fllow').click(function(){
			var user=$(this).attr('data-user');
			var userd=$(this).attr('data-userd');
				$.post("{{:url('account/connect')}}",{user:user,userd:userd},function(data){
					if(data.code==200){
						layer.msg(data.msg, {icon: 1, anim: 6, time: 1000});return;
					}else{
						layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});return;
					}
				})
			});


			$("#guanzhu").click(function(){
				$(".Fans_cont").replaceWith(function(){
					
				});
				
					
			});

			$('#fensi').click(function(){
				$('.Fans_cont').replaceWith(function(){

				});
					
			});

		})

	</script>



</body>


<script>
layui.use('element', function(){
  var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
  
  //监听导航点击
  element.on('nav(demo)', function(elem){
    //console.log(elem)
    layer.msg(elem.text());
  });
});
</script>
<eq name="type" value="content">
<script>
	var page=1;
	var uid="{{$Think.get.uid}}";
	$('#content_more').click(function(){
		$.ajax({
			type: 'POST',
			url: '{{:url("account/conlist")}}',
			data:{page:page,uid:uid},
			dataType: 'json',
			success: function(msg){	
				if(msg.code==0){
					layer.msg(msg.msg, {icon: 1, anim: 6, time: 1000});return;
				}
				if(msg){
					page=page+1;
					var str='';
					var attr='';
					if("{{$Think.session.userid}}"){
						for(var i=0;i<msg.length;i++){						
							str+='<li  class="user_con_main_li "><div class="con_img fl"><img src="'+msg[i]['thumb']+'" /></div><a href="{{:url("account/detail")}}?id='+msg[i]["id"]+'"><div class="user_con_main_right fl"><h2>'+msg[i].title+'</h2><div>'+msg[i]["content"]+'</div></div></a></li>';
						}
					}else{
						for(var i=0;i<msg.length;i++){						
							str+='<li  class="user_con_main_li clear"><div class="con_img fl"><img src="'+msg[i]['thumb']+'" /></div><a href="{{:url("account/detail")}}?id='+msg[i]["id"]+'"><div class="user_con_main_right fl" style="position:relative;"><h2>'+msg[i].title+'</h2><div>'+msg[i]["content"]+'</div><div class="mt12" style="position: absolute;bottom:50px;"><span><img src="'+msg[i].userhead+'" style="width:22px;height:22px;border-radius: 11px;"/></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight: bold;color:#353a40;">'+msg[i].name+'</span></div></div></a></li>';
						}
					}
					
					$("#content_ul").append(str);
				}else{			
	                layer.msg('没有了', {icon: 1, anim: 6, time: 1000});
				}
			},
			error:function(msg) {
			}
		});
	});	
</script>
</eq>
<eq name="type" value="index">
<script>
	var page=1;
	var zhiwei="{{$userone.zhiwei}}";
	$('#more_film').click(function(){
		var uid=$('#more_film').attr('data-id');
		$.ajax({
			type: 'POST',
			url: '{{:url("account/filmlist")}}',
			data:{page:page,uid:uid},
			dataType: 'json',
			success: function(msg){	
				if(msg.code==0){
					layer.msg(msg.msg, {icon: 1, anim: 6, time: 1000});return;
				}
				if(msg){
					page=page+1;
					var str='';
					var attr='';
					if("{{$Think.session.userid}}"){
						for(var i=0;i<msg.length;i++){
							if(i%3==2){
								str+='<li  class="user_index_li fl" style="margin-right: 0;"><a href="{{:url("forum/film")}}?id='+msg[i].id+'"><div class="index_img"><img src="'+msg[i].prourl+'" /><div class="index_img_bg"></div><div class="index_img_bg_bottom"><span class="index_img_bg_1">'+msg[i].mtype+'</span></div></div><div class="user_index_li_bottom"><h2>'+msg[i].pname+'</h2><div class="mt12"><span>片中职务：</span><span style="font-weight: bold;color:#353a40;">'+msg[i].zhiwei+'</span></div><div class="mt12"><span>播放</span>&nbsp;&nbsp;<span>'+msg[i].count+'</span>&nbsp;|&nbsp;<span>喜欢</span>&nbsp;&nbsp;<span>'+msg[i].love+'</span></div></div></a></li>';
						
							}else{
								str+='<li  class="user_index_li fl" ><a href="{{:url("forum/film")}}?id='+msg[i].id+'"><div class="index_img"><img src="'+msg[i].prourl+'" /><div class="index_img_bg"></div><div class="index_img_bg_bottom"><span class="index_img_bg_1">'+msg[i].mtype+'</span></div></div><div class="user_index_li_bottom"><h2>'+msg[i].pname+'</h2><div class="mt12"><span>片中职务：</span><span style="font-weight: bold;color:#353a40;">'+msg[i].zhiwei+'</span></div><div class="mt12"><span>播放</span>&nbsp;&nbsp;<span>'+msg[i].count+'</span>&nbsp;|&nbsp;<span>喜欢</span>&nbsp;&nbsp;<span>'+msg[i].love+'</span></div></div></a></li>';
										
							}
						}
					}else{
						for(var i=0;i<msg.length;i++){
							if(i%3==2){
								str+='<li  class="user_index_li fl" style="margin-right: 0;"><a href="{{:url("forum/film")}}?id='+msg[i].id+'"><div class="index_img"><img src="'+msg[i].prourl+'" /><div class="index_img_bg"></div><div class="index_img_bg_bottom"><span class="index_img_bg_1">'+msg[i].mtype+'</span></div></div><div class="user_index_li_bottom"><h2>'+msg[i].pname+'</h2><div class="mt12"><span>播放</span>&nbsp;&nbsp;<span>'+msg[i].count+'</span>&nbsp;|&nbsp;<span>喜欢</span>&nbsp;&nbsp;<span>'+msg[i].love+'</span></div><div class="mt12"><span><img src="'+msg[i].userhead+'" style="width:22px;height:22px;border-radius: 11px;"/></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight: bold;color:#353a40;">'+msg[i].name+'</span>&nbsp;&nbsp;&nbsp;&nbsp;'+msg[i].zhiwei+'</div></div></a></li>';
						
							}else{
								str+='<li  class="user_index_li fl" ><a href="{{:url("forum/film")}}?id='+msg[i].id+'"><div class="index_img"><img src="'+msg[i].prourl+'" /><div class="index_img_bg"></div><div class="index_img_bg_bottom"><span class="index_img_bg_1">'+msg[i].mtype+'</span></div></div><div class="user_index_li_bottom"><h2>'+msg[i].pname+'</h2><div class="mt12"><span>播放</span>&nbsp;&nbsp;<span>'+msg[i].count+'</span>&nbsp;|&nbsp;<span>喜欢</span>&nbsp;&nbsp;<span>'+msg[i].love+'</span></div><div class="mt12"><span><img src="'+msg[i].userhead+'" style="width:22px;height:22px;border-radius: 11px;"/></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight: bold;color:#353a40;">'+msg[i].name+'</span>&nbsp;&nbsp;&nbsp;&nbsp;'+msg[i].zhiwei+'</div></div></a></li>';
										
							}
						}
					}
					
					$("#film_ul").append(str);
				}else{			
	                layer.msg('没有了', {icon: 1, anim: 6, time: 1000});
				}
			},
			error:function(msg) {
			}
		});





	});	
</script>
</eq>
<script>
layui.use(['form', 'layedit', 'laydate'], function(){
	var layer = layui.layer
	$('#logout').click(function(){
		loading = layer.load(2, {
		    shade: [0.2,'#000'] //0.2透明度的白色背景
		});
		
		var locationurl="{{:url('reg/login')}}";
	    $.getJSON("{{:url('reg/logout')}}",function(data){
	      if(data.code == 200){
	        layer.close(loading);
	        layer.msg(data.msg, {icon: 1, time: 1000}, function(){
	        	 location.href = locationurl;
	        });
	      }else{ 
	      	layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
	        layer.close(loading);
	       
	      }
	    });
	})
})
</script>
</html>