<extend name="account_common" />
<block name="usercontent">	

	<section>
		<div class="itme_bk w1200">
			<div class="clearfix pr">
				<div class="person_inf">
					<div class="pr">
						<div class="head_por">
							<img src="../img/adv_1.jpg">
						</div>
						<p class="name">Cherish</p>
						<p class="time">2017-09-29</p>
					</div>
					<h2>哪部影视作品的哪一幕让你直接泪崩了？</h2>
					<p class="tit_txt">你看过的哪些影视剧让你一瞬间泪崩了？<br/>
							是哪个导演拍的呢？<br/>
							主要演员是谁？<br/>
							剧情是怎样的？
					</p>
					<ul class="option_info clearfix">
						<li><i class="icon_comment"></i><span>评论：176</span></li>
						<li><i class="icon_love"></i><span>喜欢：176</span></li>
						<li><i class="icon_send"></i><span>转发：176</span></li>
						<li><i class="icon_look"></i><span>浏览：176</span></li>
					</ul>
				</div>
				<div class="follow">已关注</div>
				<img src="../img/person_c_1.jpg" class="int_u_pic">
			</div>
		</div>
		
		<div class="itme_bk w1200">
			<div class="clearfix pr">
				<div class="person_inf">
					<div class="pr">
						<div class="head_por">
							<img src="../img/adv_1.jpg">
						</div>
						<p class="name">Cherish</p>
						<p class="time">2017-09-29</p>
					</div>
					<h2>哪部影视作品的哪一幕让你直接泪崩了？</h2>
					<p class="tit_txt">你看过的哪些影视剧让你一瞬间泪崩了？<br/>
							是哪个导演拍的呢？<br/>
							主要演员是谁？<br/>
							剧情是怎样的？
					</p>
					<ul class="option_info clearfix">
						<li><i class="icon_comment"></i><span>评论：176</span></li>
						<li><i class="icon_love"></i><span>喜欢：176</span></li>
						<li><i class="icon_send"></i><span>转发：176</span></li>
						<li><i class="icon_look"></i><span>浏览：176</span></li>
					</ul>
				</div>
				<div class="follow">已关注</div>
				<img src="../img/person_c_1.jpg" class="int_u_pic">
			</div>
		</div>
		
		<div class="itme_bk_r w1200">
			<div class="clearfix pr">
				<div class="person_inf">
					<div class="pr">
						<p class="name">Cherish</p>
						<p class="time">2017-09-29</p>
					</div>
					<h2>哪部影视作品的哪一幕让你直接泪崩了？</h2>
					<p class="tit_txt">马云喜欢武术和投资电影已经众所周知了，马云是主演，身边阵容十分豪华，电影20分钟的网络电影，也就没有票房这东西了。大家对此有什么看法，里面有什么故事？
					</p>
				</div>
				<div class="follow">已关注</div>
				<img src="../img/person_c_1.jpg" class="int_u_pic">
			</div>
		</div>
	</section>
	<!--分页-->
	<section class="p_c_paging">
		<ul>
			<li class="prev"><a href="javascript:;"><</a></li>
			<li class="active"><a href="ascript:;">1</a></li>
			<li class="num"><a href="javascript:;">2</a></li>
			<li class="num"><a href="javascript:;">3</a></li>
			<li class="next"><a href="javascript:;">></a></li>
		</ul>
	</section>

</block>
