<extend name="forum_common" />
<block name="bbscontent">	

	<!--主题-->
	<section class="int_pub_hd">
		<div class="int_top">
			<div class="w1200">
				<div class="fl tit">
					<h2>你问我答</h2>
					<p>Ask and answer</p>
				</div>
				<form method="post" action="{{:url('forum/check')}}" enctype="multipart/form-data">
				<input type="submit" class="fr int_btn" value="发布">
				<input type="hidden" name="userid" value="{{$userid}}">
			</div>
		</div>
	</section>
	<!--发布内容输入-->
	<section class="w1200 publish_in">
		<div class="publish_file">
			<div class="upload_btn" id="upduct"><img alt="" src="/public/index/img/camera.png"></div>
		</div>
		<h2><input type="text" placeholder="请输入标题......" name="title"></h2>
		<div class="pub_cont">
			<h2 class="option_head">
				<span><img alt="" src="/public/index/img/T.png"></span>
				<span><img alt="" src="/public/index/img/face.png"></span>
			</h2>
			<textarea name="content" placeholder="请输入正文......"></textarea>
		</div>
	</section>
		</form>
	<!--底部-->

	<script>
		var editor;
		// KindEditor.ready(function(K) {
		// 	editor = K.create('textarea[name="content"]', {
		// 		resizeType : 1,
		// 		allowPreviewEmoticons : false,
		// 		allowImageUpload : false,
		// 		items : [
		// 			'fontname', 'emoticons']
		// 	});
		// });


layui.use('upload', function(){
  var $ = layui.jquery
  ,upload = layui.upload
  ,layer = layui.layer;
  
  //普通图片上传
  var uploadInst = upload.render({
    elem: '#upduct'
    ,url: '{{:url("account/upload")}}'
    ,before: function(obj){
      //预读本地文件示例，不支持ie8
      obj.preview(function(index, file, result){
        $('.upload_btn img').attr('src', result); //图片链接（base64）
      });
    }
    ,done: function(res){
      //如果上传失败
      if(res.code==200){      	
      	$('.upload_btn img').attr('src', res.headpath);
      	$('#fengmian').val(res.headpath);
      	return layer.msg('上传成功', {icon: 1, anim: 6, time: 1000});
      }
      if(res.code > 0){
        return layer.msg('上传失败');
      }
      //上传成功
    }
    ,error: function(){
      //演示失败状态，并实现重传
      var demoText = $('#demoText');
      demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
      demoText.find('.demo-reload').on('click', function(){
        uploadInst.upload();
      });
    }
  });
  
});
	</script>
</block>