<extend name="forum_common" />
<block name="bbscontent">	


	<!--主题-->
	<section class="c_banner"></section>
	<!--你问我答-->
	<section class="c_que_ans">
		<div class="w1200">
			<div class="ca_head">
				<h2>你问我答</h2>
				<i></i>
				<p>Ask and answer</p>
			</div>
			<div class="clearfix" >
				<div class="c_big_pic">
					<img alt="" src="/public/index/img/interlocution/c_main.gif" />
				</div>
				<div class="c_inf_right pr">
					<div class="c_u_hd">
						<img alt="" src="/public/index/img/u_pic_1.png" />
						<p class="c_u_name">Cherish</p>
						<p class="c_u_subNme">2017-09-29</p>
						<h2>哪部影视作品的哪一幕让你直接泪崩了？</h2>
					</div>
					<a class="c_issue" href="{{:url('forum/interpub')}}?id={{$Think.session.userid}}">发布问题</a>
					<div class="clearfix tit">
						<span>ANSWER:</span>
						<a><span class="more">MORE>></span></a>
					</div>
					<div class="c_answer_li">
						<div class="c_a_item">
							<div class="c_u_hd">
								<img alt="" src="/public/index/img/u_pic_1.png" />
								<p class="c_u_name">Cherish</p>
								<p class="c_u_subNme">2017-09-29</p>
								<a class="follow">+关注</a>
							</div>
							<p class="c_inf">《小鞋子》妹妹的鞋子拿去补，让哥哥不小心弄丢了，家里妈妈生病，没钱买新鞋。因为怕被爸爸打，所以也不敢告诉爸妈。。。</p>
						</div>
						<div class="c_a_item">
							<div class="c_u_hd">
								<img alt="" src="/public/index/img/u_pic_1.png" />
								<p class="c_u_name">Cherish</p>
								<p class="c_u_subNme">2017-09-29</p>
								<a class="follow">+关注</a>
							</div>
							<p class="c_inf">《小鞋子》妹妹的鞋子拿去补，让哥哥不小心弄丢了，家里妈妈生病，没钱买新鞋。因为怕被爸爸打，所以也不敢告诉爸妈。。。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--神吐槽-->
	<section class="c_que_ans">
		<div class="w1200">
			<div class="ca_head pr">
				<h2>神吐槽</h2>
				<i></i>
				<p>God Tucao</p>
				<a class="go_Tucao">来吐槽</a>
			</div>
			<div class="c_topline clearfix">
				<a class="follow">+关注</a>
				<img alt="" src="/public/index/img/interlocution/c_item_1.gif" />
				<div class="info">
					<h2>jacky</h2>
					<p class="sub_tit">2017-09-29</p>
					<div class="c_cont">
						<h3>如何评价马云以及他的电影《功守道》？</h3>
						<P>马云喜欢武术和投资电影已经众所周知了，马云是主演，身边阵容十分豪华，电影20分钟的网络电影，也就没有票房这东西了。大家对此有什么看法，里面有什么故事？</P>
					</div>
				</div>
			</div>
			<ul class="pro_li clearfix">
				<li>
					<img alt="" src="/public/index/img/interlocution/c_item_2.gif" />
					<p class="txt">
						当职业选手遇到的人民币玩家，你会发现，你多年修为积淀下来的行为流水的操作，终于为你赢得了一个被马爸爸一脚踹飞的机会。。。
					</p>
					<div class="u_name">BlingBling于</div>
					<div class="u_info">
						<span>制片人 / 北京 </span>
						<span>粉丝 323</span>|<span>关注 9</span>
					</div>
					<i class="triangle"></i>
				</li>
				<li>
					<img alt="" src="/public/index/img/interlocution/c_item_3.gif" />
					<p class="txt">
						甄子丹说泡脚用的药<br/>
那叫川芎（xiōng），不叫川gōng。<br/>
听到穿宫真是一脸尴尬。整个一个剧组没有认识<br/>
					</p>
					<div class="u_name">BlingBling于</div>
					<div class="u_info">
						<span>制片人 / 北京 </span>
						<span>粉丝 323</span>|<span>关注 9</span>
					</div>
					<i class="triangle"></i>
				</li>
				<li>
					<img alt="" src="/public/index/img/interlocution/c_item_4.gif" />
					<p class="txt">
						我是谁？<br/>
						马云马师傅。<br/>
						天下武学不如我八字真言。
					</p>
					<div class="u_name">BlingBling于</div>
					<div class="u_info">
						<span>制片人 / 北京 </span>
						<span>粉丝 323</span>|<span>关注 9</span>
					</div>
					<i class="triangle"></i>
				</li>
				<li>
					<img alt="" src="/public/index/img/interlocution/c_item_5.gif" />
					<p class="txt">
						其实我本来觉得再过分能过分到哪里去？<br/>
						一看预告片，真的，服了。<br/>
						再也不敢质疑神拳之功力。
					</p>
					<div class="u_name">BlingBling于</div>
					<div class="u_info">
						<span>制片人 / 北京 </span>
						<span>粉丝 323</span>|<span>关注 9</span>
					</div>
					<i class="triangle"></i>
				</li>
			</ul>
		</div>
	</section>
	<!--底部-->
</block>	
