<extend name="my_common" />
<block name="bbscontent">	
	<div class="my_index_right fl">
		<div class="my_index_right_my">作品上传</div>
		<div class="my_pub_1">
			<div class="my_pub_1_2"><img src="__PC__/images/xj.png" style="max-height:60px;"/></div>
			<div class="my_pub_1_img"  id="upduct">上传</div>
		</div>
		<div class="my_index_right_my_div">
			<div class="my_index_right_my_1">作品名称<span style="color:red;">*</span></div>
			<div class="my_index_right_my_2" style="margin-left: 20px;">
				<input type="text" name="nickname" id="pro_name" class="my_index_right_my_nickname" style="width:400px;"/>
			</div>			
		</div>
		<input type="hidden" name="fengmian" id="fengmian" class="my_index_right_my_nickname" style="width:400px;"/>
		<div class="my_index_right_my_div">
			<div class="my_index_right_my_1">作品链接<span style="color:red;">*</span></div>
			<div class="my_index_right_my_2" style="margin-left: 20px;">
				<input type="text" name="url" id="url_pro" class="my_index_right_my_nickname" style="width:500px;"/>
			</div>			
		</div>
		<div class="my_ver_right_my_submit" style="margin-left: 220px;">
			<input type="button" id="sub_pro" value="提交" style="width:340px;"/>
		</div>
	</div>
</block>