<extend name="forum_common" />
<block name="bbscontent">	
	<div class="w1200">
		<div class="user_con_pl">
			<div style="position: relative;top:20px;left: 0;"><div style="font-size: 24px;color:#1e2126">技术交流</div><div style="font-size: 12px;color:#adadb1">TECHNICAL EXCHANGE</div></div>
			<div class="user_con_pl_right" style="width:100px;height:40px;line-height: 40px;top:27px;">发布</div>
		</div>
			
	</div>
	<div style="border-top: 1px solid #e9e9e9;">
		<div class="forum_list_up">
			<div class="user_love w1200">
				<div class="user_love_1" style="width:1200px;">
					<div class="user_love_1_left">
						<img src="__PC__/images/cimgpng.png" />
						<div class="user_love_1_left_1">
							<div style="color:#646671;font-weight: bold;font-size: 13px;">慕容雪雪</div>
							<div style="color:#ccc;font-size: 13px;margin-top: 5px;">2017-10-29</div>
						</div>
						<div class="user_love_1_right">+关注</div>
					</div>
					
				</div>
				<div class="user_love_2">
					<div class="user_love_2_left">
						<a href="{{:url('forum/comment')}}"><h2 class="user_love_2_left_h">影视文案必须明白五条军规</h2></a>
						<div class="user_love_2_left_con">
							<a href="{{:url('forum/comment')}}">
							<div style="line-height: 30px;color:#878787">
								<p>何为文案</p>
								<p>何为文案何为文案何为文案</p>
								<p>何为文案何为文案何为文案何为文案</p>
								<p>何为文案何为文案何为文案何为文案何为文案何为文案何为文案</p>
							</div>
							</a>
						</div>
						<div class="user_love_2_left_bottom">
							<span><img src="__PC__/images/l1.png"/></span><span class="ml5">评论：176</span>
							<span class="ml40"><img src="__PC__/images/l3.png"/></span><span class="ml5">喜欢：80</span>
							<span class="ml40"><img src="__PC__/images/l2.png"/></span><span class="ml5">转发：67</span>
						</div>
					</div>
					<div class="user_love_2_right" style="right:0;">
						<img src="__PC__/images/22.png" />
					</div>
				</div>			
			</div>
		</div>
	
	</div>
	<div class="forum_comment_main">
		<div class="forum_comment w1200">
			<div class="forum_comment_top">
				<div class="forum_comment_top_1">交流<span>(78)</span></div>
				<div class="forum_comment_top_2">发表评论</div>
			</div>
			<div class="forum_comment_middle">
				<div class="forum_comment_middle_1">
					<img src="__PC__/images/cimgpng.png" class="forum_comment_middle_img"/>
					<form action="" method="post">
						<textarea name="comment" class="forum_comment_middle_text"></textarea>
						
					</form>
				</div>
				<ul class="forum_comment_bottom">
					<li  class="forum_comment_bottom_li">
						<div class="forum_comment_bottom_li_1"> 
							<img src="__PC__/images/cimgpng.png" class="forum_comment_middle_img"/>
						</div>
						<div class="forum_comment_bottom_li_2">
							<div class="forum_comment_bottom_li_2_1">WWWEDDD<span>09-27 09:20</span></div>
							<div class="forum_comment_bottom_li_2_2">想法比写法更重要</div>
							<div class="forum_comment_bottom_li_2_3">顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶反反复复</div>
							<div class="forum_comment_bottom_li_2_4"><span>回复</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span>赞(0)</span></div>
						</div>
					</li>
					
					<li  class="forum_comment_bottom_li">
						<div class="forum_comment_bottom_li_1"> 
							<img src="__PC__/images/cimgpng.png" class="forum_comment_middle_img"/>
						</div>
						<div class="forum_comment_bottom_li_2">
							<div class="forum_comment_bottom_li_2_1">WWWEDDD<span>09-27 09:20</span></div>
							<div class="forum_comment_bottom_li_2_2">想法比写法更重要</div>
							<div class="forum_comment_bottom_li_2_3">顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶反反复复</div>
							<div class="forum_comment_bottom_li_2_4"><span>回复</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span>赞(0)</span></div>
						</div>
					</li>
					
					<li  class="forum_comment_bottom_li">
						<div class="forum_comment_bottom_li_1"> 
							<img src="__PC__/images/cimgpng.png" class="forum_comment_middle_img"/>
						</div>
						<div class="forum_comment_bottom_li_2">
							<div class="forum_comment_bottom_li_2_1">WWWEDDD<span>09-27 09:20</span></div>
							<div class="forum_comment_bottom_li_2_2">想法比写法更重要</div>
							<div class="forum_comment_bottom_li_2_3">顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶反反复复</div>
							<div class="forum_comment_bottom_li_2_4"><span>回复</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span>赞(0)</span></div>
						</div>
					</li>
					<li  class="forum_comment_bottom_li">
						<div class="forum_comment_bottom_li_1"> 
							<img src="__PC__/images/cimgpng.png" class="forum_comment_middle_img"/>
						</div>
						<div class="forum_comment_bottom_li_2">
							<div class="forum_comment_bottom_li_2_1">WWWEDDD<span>09-27 09:20</span></div>
							<div class="forum_comment_bottom_li_2_2">想法比写法更重要</div>
							<div class="forum_comment_bottom_li_2_3">顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶反反复复</div>
							<div class="forum_comment_bottom_li_2_4"><span>回复</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span>赞(0)</span></div>
						</div>
					</li>
					<li class="forum_comment_bottom_li">
						<div class="forum_comment_bottom_more"><a href="" style="color:#c1c1c1;">展开全部>></a></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</block>