<extend name="forum_common" />
<block name="bbscontent">	
	<div class="layui-carousel" id="indexlunbo" style="min-width: 1200px;max-width: 1920px;text-align: center;">
	  <div carousel-item="">
	    <div class="banner_height" style="text-align: center;width:100%;margin:0 auto;"><img src="__PC__/images/banner.jpg" style="text-align: center;width:100%;" id="myimage"></div>
	    <div><img src="__PC__/images/filmbanner.jpg" style="text-align: center;"></div>
	    
	  </div>
	</div>
	<div class="index_main">
		<div class="w1200" style="overflow: hidden;">
			<div class="index_main_left fl">
				<div class="index_main_left_top">
					<div class="index_main_left_top_l">
						<div class="index_main_left_top_h3">技术交流</div>
						<div>TECHNICAL EXCHANGE</div>
					</div>
					<div class="index_main_left_top_r">
						<a href="">MORE>></a>
					</div>
				</div>
				<ul class="index_main_left_main">
					<li class="index_main_left_main_li">
						<div class="index_main_left_main_li_img">
							<img src="__PC__/images/cimgpng.png" />
						</div>
						<div class="index_main_left_main_li_con">
							<div class="index_main_left_main_li_con_t">
								所以是是是四十三
							</div>
							<div class="index_main_left_main_li_con_m">
								顶顶顶顶顶顶顶顶顶大大大
							</div>
							<div class="index_main_left_main_li_con_b">
								<span>【慕容雪雪】发布 2017-12-03</span>
								<span class="fr">回复：52</span>
							</div>
						</div>
					</li>
			
			
				</ul>
			</div>
			<div class="index_main_right fl">
				<div class="index_main_left_top">
					<div class="index_main_left_top_l">
						<div class="index_main_left_top_h3">最新注册</div>
						<div>THE LATEST REGISTRATION</div>
					</div>
					<div class="index_main_left_top_r">
						<a href="javascript:" id="reg_more">MORE>></a>
					</div>
				</div>
				<ul class="index_main_right_main">
					<volist name="newusers" id="user">
					<li class="index_main_right_main_li">
						<div class="index_main_right_main_li_img">
							<img src="{{$user.userhead}}" />
						</div>
						<div class="index_main_right_main_li_r">
							<div class="index_main_right_main_li_r_1">
									{{$user.username}}
							</div>
							<div class="index_main_right_main_li_r_3">
								{{$user.hangye}}
							</div>
						</div>
					</li>
				</volist>
				</ul>
			</div>
		</div>
	</div>
	<div class="index_index_middle">
		<div class="index_index_middle_title">
			
			<div class="forum_index_1_title" style="font-size: 22px;">公告栏</div>
			<div class="forum_index_1_line"></div>
			<div class="forum_index_1_en" style="font-weight: bold;">NOTICE BOARD</div>
		</div>
		<ul class="index_index_middle_ul w1200">
			<li class="index_index_middle_li">
				<div class="index_index_middle_img">
					<img src="__PC__/images/cimgpng.png" />
				</div>
				<div class="index_index_middle_right">
					<div class="index_index_middle_right_con">哈哈哈hhhhhhhhhhhhhhhhhhhhhhhhhhhhhh快快快快快快快快快快快快快快快快快快快快快快快快快快快快快快快快快快快快快快快快快收视恒海哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈是事实上事实上事实上事实上事实上事实上事实上是率是临床常见的等哈哈哈发货方式</div>
					<div class="index_index_middle_right_date">2017-09-12 发布</div>
				</div>
			</li>
			<li class="index_index_middle_li">
				<div class="index_index_middle_img">
					<img src="__PC__/images/cimgpng.png" />
				</div>
				<div class="index_index_middle_right">
					<div class="index_index_middle_right_con">哈哈哈收视率是临床常见的等哈哈哈发货方式</div>
					<div class="index_index_middle_right_date">2017-09-12 发布</div>
				</div>
			</li>
		</ul>
	</div>
</block>