<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
	<title>tab</title>
	<link rel="stylesheet" type="text/css" href="/public/index/css/common/base.css">
	<link rel="stylesheet" type="text/css" href="/public/index/css/common/common.css">
	<link rel="stylesheet" type="text/css" href="/public/index/css/common/foot.css">
	<link rel="stylesheet" type="text/css" href="/public/index/css/common/header.css">
	<link rel="stylesheet" type="text/css" href="/public/index/css/page/interlocution.css">
</head>
<body>
	<header class="interlocution">
		<div class="w1200 head_cont">
			<img src="/public/index/img/logo.png">
			<ul class="hd_nav">
				<li>
					<a href="javascript:;">
						<h2>登陆/注册</h2>
						<p>Login / register</p>
					</a>
				</li>
				<li class="active">
					<a href="javascript:;">
						<h2>问答</h2>
						<p>interlocution</p>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<h2>文章</h2>
						<p>article</p>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<h2>社区</h2>
						<p>community</p>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<h2>首页</h2>
						<p>INDEX</p>
					</a>
				</li>
			</ul>
		</div>
	</header>
	<!--主题-->
	<section class="int_main_hd">
		<div class="int_top">
			<div class="w1200">
				<div class="fl tit">
					<h2>你问我答</h2>
					<p>Ask and answer</p>
				</div>
				<a class="fr int_btn">发布</a>
			</div>
		</div>
		<div class="w1200 pr">
			<div class="person_inf">
				<div class="pr">
					<div class="head_por">
						<img src="/public/index/img/adv_1.jpg">
					</div>
					<p class="name">Cherish</p>
					<p class="time">2017-09-29</p>
				</div>
				<h2>哪部影视作品的哪一幕让你直接泪崩了？</h2>
				<p class="tit_txt">你看过的哪些影视剧让你一瞬间泪崩了？<br/>
						是哪个导演拍的呢？<br/>
						主要演员是谁？<br/>
						剧情是怎样的？
				</p>
				<ul class="option_info clearfix">
					<li><i class="icon_comment"></i><span>评论：176</span></li>
					<li><i class="icon_love"></i><span>喜欢：176</span></li>
					<li><i class="icon_send"></i><span>转发：176</span></li>
					<li><i class="icon_look"></i><span>浏览：176</span></li>
				</ul>
			</div>
			<div class="follow">+关注</div>
			<img src="/public/index/img/int_hd_pic.jpg" class="int_u_pic">
		</div>
	</section>
	<!--评论内容-->
	<section class="w1200 comment_txt">
		<div class="c_txt_li">
			<h2>回答<span>(28)</span></h2>
			<div class="c_t_item">
				<img alt="" src="/public/index/img/u_pic_1.png" class="c_t_p">
				<div class="in_comment">
					<textarea placeholder="请输入回答内容"></textarea>
				</div>
				<a class="c_answer">我要回答</a>
			</div>
			<div class="c_t_item">
				<img alt="" src="/public/index/img/u_pic_1.png" class="c_t_p">
				<h2>
					<span class="u_name">上古天真</span>
					<span class="u_time"> 09-27 16:01</span>
				</h2>
				<p>《小鞋子》妹妹的鞋子拿去补，让哥哥不小心弄丢了，家里妈妈生病，没钱买新鞋。因为怕被爸爸打，所以也不敢告诉爸妈。。。</p>
				<div class="c_option">
					<span>回复</span>|<span>赞(0)</span>
				</div>
			</div>
			<div class="c_t_item">
				<img alt="" src="/public/index/img/u_pic_1.png" class="c_t_p">
				<h2>
					<span class="u_name">上古天真</span>
					<span class="u_time"> 09-27 16:01</span>
				</h2>
				<p>《死亡诗社》如果你在一个恰当的年纪看到了这部影片，或多或少都能有一些触动和思考。当然我们可能会继续「屈服」于现实，摒弃所有自己的兴趣。。。</p>
				<div class="c_option">
					<span>回复</span>|<span>赞(0)</span>
				</div>
			</div>
			<div class="c_t_item">
				<img alt="" src="/public/index/img/u_pic_1.png" class="c_t_p">
				<h2>
					<span class="u_name">上古天真</span>
					<span class="u_time"> 09-27 16:01</span>
				</h2>
				<p class="songti">画面感，是影视文案的入门必修课，你要学会充分利用画面传达信息。画面信息与旁白内容可互相补充。旁白尽量简洁，甚至可以不要。最终是画面、声音共同构成了一条片。如果你闭着眼睛只听声音就完全听明白了一条片，这条片一定不是好片。它一定缺乏画面上的表现力。好的片子一定有很多信息是通过画面让你感知的。</p>
				<div class="c_option">
					<span>回复</span>|<span>赞(0)</span>
				</div>
			</div>
		</div>
		<div class="c_show_more">
			<a href="javascript:;">展开全部>></a>
		</div>
	</section>
	<!--底部-->
	<footer>
		<div class="w1200 fot_cont">
			<img src="/public/index/img/logo.png" alt="" class="fot_video">
			<ul class="fot_nav">
				<li><a href="javascript:;">首页</a>|<a href="javascript:;">制作人中心</a>|<a href="javascript:;">制作公司</a>|<a href="javascript:;">社区动态</a>|<a href="javascript:;">制作公司</a>
				</li>
			</ul>
			<div class="icon_li">
				<img src="/public/index/img/wx_icon.png" alt=""/>
				<img src="/public/index/img/wb_icon.png" alt=""/>
			</div>
		</div>
	</footer>
</body>
</html>