<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
    <title>tab</title>
    <link rel="stylesheet" type="text/css" href="/public/index/css/common/base.css">
    <link rel="stylesheet" type="text/css" href="/public/index/css/common/common.css">
    <link rel="stylesheet" type="text/css" href="/public/index/css/common/foot.css">
    <link rel="stylesheet" type="text/css" href="/public/index/css/common/header.css">
    <link rel="stylesheet" type="text/css" href="/public/index/css/page/interlocution.css">
</head>
<body>
<header class="interlocution">
    <div class="w1200 head_cont">
        <img src="/public/index/img/logo.png">
        <ul class="hd_nav">
            <li>
                <a href="javascript:;">
                    <h2>登陆/注册</h2>
                    <p>Login / register</p>
                </a>
            </li>
            <li class="active">
                <a href="javascript:;">
                    <h2>问答</h2>
                    <p>interlocution</p>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <h2>文章</h2>
                    <p>article</p>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <h2>社区</h2>
                    <p>community</p>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <h2>首页</h2>
                    <p>INDEX</p>
                </a>
            </li>
        </ul>
    </div>
</header>
<!--主题-->



<p>这是问答模块<p>



<!--底部-->
<footer>
    <div class="w1200 fot_cont">
        <img src="/public/index/img/logo.png" alt="" class="fot_video">
        <ul class="fot_nav">
            <li><a href="javascript:;">首页</a>|<a href="javascript:;">制作人中心</a>|<a href="javascript:;">制作公司</a>|<a href="javascript:;">社区动态</a>|<a href="javascript:;">制作公司</a>
            </li>
        </ul>
        <div class="icon_li">
            <img src="/public/index/img/wx_icon.png" alt=""/>
            <img src="/public/index/img/wb_icon.png" alt=""/>
        </div>
    </div>
</footer>
</body>
</html>